@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
// Định nghĩa các biến màu sắc, font-size, v.v.
$primary-color: #000;
$text-primary-color: #f5f5f5;
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: $primary-color;
    color: $text-primary-color;
}

:root {
    --primary-color: #000;
    --secondary-color: #262626;
    --button-color: #363636;
    --border-color: #363636;
    --button-secondary-color: #474747;
    --button-disable-color: #002d4a;
    --button-disable-secondary-color: ##303030;
    --button-enable-color: #0095f6;
    --text-primary-color: #f5f5f5;
    --text-secondary-color: #a8a8a8;
    --text-button-color: #ed4956;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
    border: 2px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

[contenteditable]:empty:before {
    content: attr(data-placeholder);
    color: #888;
  }
