@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
// Định nghĩa các biến màu sắc, font-size, v.v.
$primary-color: #000;
$text-primary-color: #f5f5f5;
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: $primary-color;
    color: $text-primary-color;
}

:root {
    --primary-color: #000;
    --secondary-color: #262626;
    --button-color: #363636;
    --text-primary-color: #f5f5f5;
    --text-secondary-color: #a8a8a8;
}

// [var(--secondary-color)]
@keyframes slideInFromLeft {
    0% {
        transform: translateX(0);
        opacity: 0;
    }
    100% {
        transform: translateX(250px);
        opacity: 1;
    }
}

@keyframes slideOutToLeft {
    0% {
        transform: translateX(250px);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 0;
    }
}

.search-slide-in {
    animation: slideInFromLeft 0.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

.search-slide-out {
    animation: slideOutToLeft 0.5s ease-in-out forwards;
}
